/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    
}

h1 {
    font-weight: 900;
}

h2, h3, h4 {
    font-weight: 700;
    color: #bf4062;
}

h3 {
    color: #e5b3c0;
}

h4 {
    color: #000
}

/* COMMON CSS */
.image-full-height {
    width: auto; 
    height: 100%; 
    object-fit: contain
}

.image-half-height {
    width: auto; 
    height: 50%; 
    object-fit: contain
}
.image-30-height {
    width: auto; 
    height: 30%; 
    object-fit: contain
}

.container-image-full-height {
    overflow: hidden;
}

/* NAVBAR */

#custom-navbar a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#custom-navbar .active a {
    color: #bf4062;
    background-color: transparent;
}

#custom-navbar .custom-navbar-title {
    font-weight: 900;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #e5b3c0;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #bf4062;
}

.custom-navbar-div-toggled {
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* PRESENTATION */

.title-presentation {
    font-weight: 900;
}

.subtitle-presentation {
    font-size: 1.5rem;
}

#table-presentation td {
    border-top: 0;
}

.container-logo-presenation {
    height: auto; 
    width: 40%; 
    object-fit: contain
}

.container-imgage-presentation {
    transform: rotate(180deg);
    height: auto; 
    width: 30%; 
    object-fit: contain;
    border: 1px solid transparent;
    border-radius: 2000px;
}

.title-header-title {
    font-size: 0.9rem;
}

.title-table {
    font-size: 0.8rem;
    text-align: right;
}
.text-table {
    font-size: 0.7rem;
    text-align: right;
}

.discover-btn-presentation {
    background-color: #bf4062;
    color: #fff;
    border: 2px solid #fff;
    transition: 0.5s ease;
    border-radius: 7px;
}

.discover-btn-presentation:hover {
    background-color: #fff;
    color: #bf4062;
    border: 2px solid #bf4062; 
}


/* SERVICES */
.container-description-services {
    background-color: #f9f9f9;
}

.description-services {
    font-size: 0.8rem;
}

.title-description-services {
    font-size: 1rem;
}

#services h2 {
    font-size: 1.2rem;;
}

#services h3 {
    font-size: 1.5rem;;
}


/* CONTACT */


/* FOOTER */
#footer {
    background-image: url('/public/images/croissant.jpg');
    max-height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#footer .container-footer {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(117,117,117,0) 100%);
}

#footer .container-footer h3 {
    font-size: 1.2rem;
}

#footer #table-presentation .title-table, .text-table {
    color: #fff
}